<div class="container homepage">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="myname">Lucas <span class="white">Padilha</span></h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 options">
    <h3 id="enoption">Select Language</h3>
  </div>
  <div class="col-sm-12 options">
    <h6 id="ptoption">Selecione o idioma</h6>
  </div>
</div>

<div class="container languages">
  <div class="row">

    <div class="col-sm-12 col-md-6 language">
      <%= link_to english_path do %>
        <%= image_tag('enflag.png', :alt => "english",:width => "100%", :height => "100%", :id => "portugueseflag", onClick: "myFunction()") %>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6 language">
      <%= link_to portuguese_path do %>
        <%= image_tag('ptflag.png', :alt => "portuguese", :width => "100%", :height => "100%", :id => "englishflag") %>
      <% end %>
    </div>

    <script>
      function myFunction () {
        let timerInterval
        Swal.fire({
          title: 'Auto close alert!',
          html: 'I will close in <b></b> milliseconds.',
          timer: 2000,
          timerProgressBar: true,
          onBeforeOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => {
              const content = Swal.getContent()
              if (content) {
                const b = content.querySelector('b')
                if (b) {
                  b.textContent = Swal.getTimerLeft()
                }
              }
            }, 100)
          },
          onClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
          }
        })
      }
    </script>

  </div>

</div>

<div class="container downloads">
  <div class="row download">
    <div class="col-sm-12m download">
      <h3 id="downloaden">Or just Download PDF format</h3>

    </div>
    <div class="col-sm-12 download">
      <h6 id="downloadpt">Ou apenas faça o Download em PDF</h6>
    </div>
    <div class="col-sm-12" id="linkpdf">
      <button id="buttondownloaden">
        <%= link_to "Download #{image_tag("enflag.png", :id => "miniflagen", :height => "20%", :width => "20%", :style => "margin-bottom: 2%;")}".html_safe, download_en_path, :style => "margin-bottom: 2%;" %>
      </button>

      <button id="buttondownloadpt">
        <%= link_to "Download #{image_tag("ptflag.png", :id => "miniflagpt", :height => "20%", :width => "20%", :style => "margin-bottom: 2%;")}".html_safe, download_pt_path, :style => "margin-bottom: 2%;" %>
      </button>
    </div>
  </div>
</div>


