<link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic' rel='stylesheet' type='text/css'>

<!-- MAIN CONTAINER -->
    <div id="main_container">
      <!-- HEADER -->
      <div id="header">
        <!-- LOGOTYPE/NAME -->
        <div class="header_logotype_container">
          <h1 class="logotype_name">Lucas <span class="white">Padilha</span></h1>
          <h2 class="logotype_occupation">Full-stack Developer</h2>
        </div>
        <!-- MAIN MENU -->
        <div class="header_menu_container">
          <ul class="download_print_buttons horizontal_list">
            <li><%= link_to "< Back", root_path %></li>
            <li><%= image_tag("ptflag.png", :id => "miniflagpt", :height => "20%", :width => "20%") %></li>
            <li><%= image_tag("enflag.png", :id => "miniflagen", :height => "20%", :width => "20%", :style => "opacity: 0.1") %></li>
          </ul>
          <div class="clear"></div>
          <ul class="header_menu horizontal_list">
            <li class="mx-3"><a class="no_border white" href="#education">Formação</a></li>
            <li class="mx-3"><a class="no_border white" href="#projects">Projetos</a></li>
            <li class="mx-3"><a class="no_border white" href="#experience">Experiência Profissional</a></li>
            <li class="mx-3"><a class="no_border white" href="#skills">Competências</a></li>
          </ul>
        </div>
      </div>
      <!-- LEFT COL -->
      <div id="left_col">
        <!-- <div class="profile_frame"> -->
          <div class="profile_picture">
            <%= image_tag("lucas.png", :alt => "profile picture", :id => "photolucas",:height => "100%", :width => "100%") %>
          </div>
        <!-- </div> -->
        <div class="hello_content">
          <p>Sou apaixonado por tecnologia e comportamento humano. Trabalhador esforçado e aprendo rápido.</p>
        </div>
        <div class="contact_details_content">
          <h2>Contactos</h2>
          <p class="white"><i class="fas fa-phone-square"></i> Telefone:</p>
          <p>+351 912 015 235</p>
          <p class="white"><i class="fas fa-envelope"></i> Email:</p>
          <p>lucas_padilha@icloud.com</p>
          <p class="white"><i class="fab fa-github-square"></i> GitHub:</p>
          <p><%= link_to "github.com/padilhaalucas", "https://github.com/padilhaalucas", target: "_blank", id: "socialmedialinks" %></p>
          <p class="white"><i class="fab fa-linkedin"></i> LinkedIn:</p>
          <p><%= link_to "linkedin.com/in/lucas-padilhax/", "https://www.linkedin.com/in/lucas-padilhax/", target: "_blank", id: "socialmedialinks" %></p>
        </div>
        <a href="mailto:lucas_padilha@icloud.com" class="send_message_button" data-aos="fade-right" data-aos-duration="1000">
          <span class="content">Contrate-me!</span>
        </a>
<!--         <div class="get_social_content">
          <h2>Get social</h2>
          <ul class="social_icons horizontal_list">
            <li><a class="facebook" href="https://www.facebook.com/jlalovi"><span class="entypo-facebook-circled"></span><span class="invisible">Facebook</span></a></li>
            <li><a class="twitter" href="https://twitter.com/jlalovi"><span class="entypo-twitter-circled"></span><span class="invisible">Twitter</span></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/jlalovi/en"><span class="entypo-linkedin-circled"></span><span class="invisible">LinkedIn</span></a></li>
          </ul>
        </div> -->
      </div>
      <!-- PROFILE CONTENT -->
      <div id="content_container">

        <div class="container block welcome">
          <h1>Bem vindo(a)!</h1>
          <blockquote class="profile_quote">
            <p>“O melhor guerreiro não é aquele que vence sempre, mas sim o que volta sem medo para as batalhas.”</p>
            <p>- Lucas Padilha</p>
            <span class="entypo-quote"></span>
          </blockquote>
        </div>
        <div class="container block about">
          <h2>Sobre mim</h2>
          <p>Eu sou uma pessoa apaixonada por números, raciocínio lógico e logical thinking problemas complexos.
          Toda a minha experiência profissional (em diversas áreas) foi baseada nessa mentalidade
          e agora (cada vez mais) tenho a certeza de que esse tipo de pensamento pode mudar qualquer ambiente profissional em que eu esteja.
          </p>
        </div>

        <div class="container block philosophy">
          <h2>Filosofia Profissional</h2>
          <p>Acredito na ética e moral, princípios intimamente conectados e necessários.</p>
          <div class="philosophy_content">
            <p>Eu acredito que a vida profissional é feita de diferentes tons de cinza, não de preto e branco.
            Além disso, como um ser humano com racionalidade, acho que é nosso dever cuidar
            do mundo e tratar os outros como gostaríamos de ser tratados.
            Esse modo de perceber a realidade afeta minhas crenças e meu modo de agir.
            Resumindo em vários pontos:</p>
            <ul>
              <li>Pragmatismo</li>
              <li>Honestidade</li>
              <li>Respeito</li>
              <li>Mentalidade Aberta</li>
              <li>Coerência</li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>

        <div class="container education" data-aos="fade-left" data-aos-duration="1000">
          <a id="education"></a>
          <h1 class="mb-4">Formação</h1>
          <div class="row scrollable">
            <div class="col-sm" style="padding-top: 2px;">
              <div class="card education1" style="display: flex; overflow-y: scroll">
              <%= image_tag("logolw.png", :alt => "profile picture", class: "logos", :height => "40%", :width => "40%") %>
                <div class="card-body">
                  <h3><strong>Full-stack web development</strong></h3>
                  <h3>Le Wagon - Lisboa (Portugal) - 2019</h3>
                  <ul>
                    <li>RoR</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>SQL</li>
                    <li>Git flow</li>
                    <li>GitHub</li>
                    <li>Heroku</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm" style="padding-top: 2px;">
              <div class="card education1" style="display: flex; overflow-y: scroll">
              <%= image_tag("logofmu.png", :alt => "profile picture", class: "logos", :height => "40%", :width => "40%") %>
                <div class="card-body">
                  <h3><strong>Engenharia Civil</strong></h3>
                  <h3>FMU FISP - São Paulo (Brasil) - 2012 - 2015  </h3>
                  <ul>
                    <li>Cálculo Numérico</li>
                    <li>Cálculo Estrutural</li>
                    <li>Física</li>
                    <li>Matemática</li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="cna" class="col-sm" style="padding-top: 2px;">
              <div class="card education1" style="display: flex; overflow-y: scroll">
              <%= image_tag("logocna.png", :alt => "profile picture", class: "logos", :height => "40%", :width => "40%") %>
                <div class="card-body">
                  <h3><strong>Curso de Inglês</strong></h3>
                  <h3>CNA - São Paulo (Brasil) - 2009 - 2011  </h3>
                </div>
              </div>
            </div>
          </div>
          <p id="scroll">Veja mais <i class="arrowright fas fa-long-arrow-alt-right"></i></p>
        </div>

        <div class="container project" data-aos="fade-left" data-aos-duration="1000">
          <a id="projects"></a>
          <h1 class="mb-4">Projetos</h1>
          <div class="row">
            <div class="col-6">
              <div class="card projectspt">
                <%= image_tag("logowald.png", :alt => "profile picture", class: "logos", :height => "40%", :width => "40%") %>
                <div class="card-body">
                  <h5 class="card-title">WALD</h5>
                  <p class="card-text">Co-Fundador do projeto WALD, um programa que
                  cria a estrutura de uma Aplicação Rails com apenas o esquema visual da base de dados.</p>
                  <%= link_to "Go to WALD", "http://waldproject.com", target: "_blank", class: "btn btn-primary", id: "btnwald"%>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card projectspt">
                <%= image_tag("logorabbit.png", :alt => "profile picture", class: "logos", :height => "40%", :width => "40%") %>
                <div class="card-body">
                  <h5 class="card-title">Rabbit</h5>
                  <p class="card-text">Projeto feito na semana de clone do AirBnb (no curso).
                  É para alugar animais para datas específicas, assim como os quartos no AirBnb.</p>
                  <%= link_to "Go to Rabbit", "https://pet-shop-boys-9000.herokuapp.com/", target: "_blank", class: "btn btn-primary", id: "btnwald"%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container experience" data-aos="fade-left" data-aos-duration="1000">
          <a id="experience" ></a>
          <h1 class="mb-4">Experiência Profissional</h1>
          <div class="accordion experience1" id="accordionExample">
            <div class="card exp rounded-top">
              <div class="card-header" id="headingOne">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h3 class="functions">Responsável de Armazéns e Logística | Jul 2017 - Out 2019</h3>
                </button>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <h3>Grupo Brodheim (Portugal)</h3>
                  <ul>
                    <li>Gestão de mercadoria</li>
                    <li>Inventários parciais e gerais</li>
                    <li>Controlo logístico entre lojas da cadeia</li>
                    <li>Contactos com fornecedores</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card exp">
              <div class="card-header" id="headingTwo">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="functions">Professor de matemática e física | Jan 2017 - Jul 2017</h3>
                </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <h3>Centro de Explicações Primavera (Portugal)</h3>
                  <ul>
                    <li>Explicações e aulas, em matemática e física, para alunos do 1º ao 12º ano</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card exp">
              <div class="card-header" id="headingThree">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="functions">Coordenador de equipa | Mar 2016 - Jan 2017</h3>
                </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <h3>Thousand Solutions (Portugal)</h3>
                  <ul>
                    <li>Angariação directa de clientes para contratos e soluções empresariais no setor energético</li>
                    <li>Gerir equipa para essa mesma função</li>
                    <li>Liderar reuniões matinais diárias</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card exp rounded-bottom">
              <div class="card-header" id="headingFour">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="functions">Vendedor e Sub-gerente | Jan 2014 - Dez 2015</h3>
                </button>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <h3>Levi Strauss & CO (Brasil)</h3>
                  <ul>
                    <li>Gestão de equipa</li>
                    <li>Venda de produtos ao público</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container skills" data-aos="fade-left" data-aos-duration="1000">
          <a id="skills"></a>
          <h1 class="mb-4">Competências</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">Ruby on Rails</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">HTML5</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">CSS3</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">Javascript</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">Bootstrap</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">SQL</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">Git flow | GitHub</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card skill">
                <div class="card-title">
                  <h4 class="skilltext align-items-center">Heroku</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="clear"></div>
      <!-- FOOTER -->
      <div id="footer">
        <p class="footer_name">Lucas Padilha CV 2019</p>
      </div>

